html {
    height: 100%;
    margin: 0px;
}

body {
    min-height: 100%;
    margin: 0px;
    font-family: arial, sans-serif;
    font-size: 2.5vmin;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

.notebook {
    height: 100%;
}

.notebooktabrow {
    background-color: oldlace;
}

.notebookpage {
    height: 90vh;
    padding: 2.5vh;
}

.panel {
    text-align: center;
}

#panel1, #panel2 {
    width: 50%;
    height: 75vh;
}

.paneltitle {
    margin: 0.5vmin;
    font-weight: bold;
}

.listbox {
    width: 25vw;
    font-size: 1em;
}

#spinner {
    display: inline-block;
    background-color: lightgrey;
    margin: 0.5vmin;
}

.dropdown {
    font-size: 1em;
}

textarea {
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
}

#usertext {
    height: 25vh;
    width: 25vw
}

.button, .imagebutton, .togglebutton {
    font-size: 1em;
    padding: 0px;
    margin: 0.5vmin 2vmin;
}

.imagebutton > img {
    height: 5vmin;
}

p {
    margin: 1vmin 0;
}
