html {
    font-family: arial, sans-serif;
    font-size: 2.5vmin;
}

body {
    margin: 0px;
}

.notebooktabrow {
    background-color: oldlace;
}

.notebooktab {
    min-width: 10%;
}

.notebookpage {
    overflow: auto;
    padding: 2.5vmin;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

p {
    margin: 1vmin 0;
}

.panel {
    text-align: center;
    width: 50%;
}

.paneltitle {
    margin: 0.5vmin;
    font-weight: bold;
}

.spincontrol {
    display: inline-block;
    background-color: ivory;
    margin: 0.5vmin;
}

.listbox, .dropdown {
    width: 50%;
    margin:auto;
    font-size: 1rem;
}

.dropdown {
    background-color: cyan;
    border-width: 0px
}

textarea {
    display: block;
    height: 90vh;
    width: 90%;
    margin: auto;
}

#usertext {
    height: 25vh;
    width: 50%;
}

.button, .imagebutton, .togglebutton {
    font-size: 1rem;
    padding: 0px;
    margin: 0.5vmin 2vmin;
}

.imagebutton > img {
    height: 5vmin;
}

.userfilebutton > img {
    border: 1px solid red;
}

